{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="div-center">
		<h1 class="header">Results</h1><button class="back-button" onclick="window.location.href = '{{ url_for('home') }}'">Back</button>
	</div>
    <div class="row">
	  <div class="column" style="background-color:#aaa;">
		<h2>Classification Results</h2>
		  {% for result in classifications['classify'] %}
			<ul>{{result}}</ul>
		  {% endfor %}
	  </div>
	  <div class="column" style="background-color:#bbb;">
		<h2>OCR Results</h2>
		  {% for key, value in classifications['ocr'].items() %}
			<h3>{{key.capitalize()}}</h3>
		  	<p>{{value}}</p>
		  {% endfor %}
	  </div>
	</div>
{% endblock %}
